@import url("syntax.css");
* { padding: 0px; margin: 0px; }
* {
    line-height: 1.5em;
    text-decoration: none;
}
html {
    margin: auto;
    width: 47em;
    position: relative;
    background-color: #fdf6e3;
}

#toplink {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 8px;
    background-color: #002b36;
}
#toplink a:link { color: #93a1a1; }
#toplink a:visited { color: #93a1a1; }

h1, h2, h3 { font-family: 'Cuprum'; }
h1 { margin: 100px 0px 50px; text-align: center;  }
h1, h1 a:link, h1 a:visited { text-shadow: #839496 2px 2px 4px; color: #dc322f; font-weight: normal; }
h2, h3 { color: #b58900; font-weight: normal; }
h2 { border-bottom: solid #586e75 1px; }
h2:before { content: "> "; }
h3:before { content: ">> "; }

#content * a:link, #content * a:visited { color: #b58900; }
#content { margin-bottom: 50px; color: #073642; }
#content > * { margin: 1em auto;  }
#content > p { padding: 0.5em 0px; width: 40em; }
#content > p + p { padding-top: 0px; margin-top: 0px; }
#content > hr { border: #000 dashed 1px; }
#content pre { background-color: #002b36; padding: 3px 3px; border: 1px solid #073642; color: #839496; }
#content * li { list-style-position: inside; margin: 3px; }
#content ul, #content ol {
    margin-left: 20px; padding: 0px 10px;
}
