@mixin social-icon {
  a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 2px;}
  a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px;}
  a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 2px;}
  a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 2px;}
  a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 2px;}
  a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 2px;}
  a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 2px;}
  a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 2px; background-color: #fff;}
  a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 2px;}
  a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 2px;}
  a[href*='last.fm']:before {content: url('./images/icons/lastfm.png'); margin-right: 2px;}
  a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 2px;}
  a[href*='rss.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px;}
  a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 2px;}
  a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 2px;}
  a[href*='plus.google.com']:before {content: url('./images/icons/gplus.png'); margin-right: 2px;}
}
