<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="google-site-verification" content="YjRoDozMq67s3NKiyM6spjwqnSVihlZ11ur-OgfZCU0">

    <link href="{{ SITEURL }}/theme/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ SITEURL }}/theme/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="{{ SITEURL }}/theme/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ SITEURL }}/{{ FEED_ATOM }}">
    <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet'>
  </head>

  <body>
    <h1 id="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
      <div id="footer-container">
        <div id="about">
          <h2>About the author</h2>
          <a href="{{ SITEURL }}/pages/about.html"><img src="{{ SITEURL }}/static/images/draftcode.png" /></a>
          <p>東京で情報工学を専攻している大学院生です。<br />プログラミング言語の研究をしています。<br /></p>
          <p>詳しくは<a href="{{ SITEURL }}/pages/about.html">こちら</a></p>
        </div>

        <div id="site">
          <h2>Site</h2>
          <ul>
            <li><a href="{{ SITEURL }}/archives.html">Archives</a>
            <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
          </ul>
        </div>

        <div id="social">
          <h2>Social</h2>
          <ul>
            {% for name, link in SOCIAL %}
            <li class="social"><a href="{{ link }}">{{ name }}</a></li>
            {%- endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
