@import 'normalize.css';

body {
  width: 800px;
  margin: auto;
  font-family: "Open Sans", sans-serif;

  .profile img {
    float: right;
  }

  .work-experience, .activities, .education, .skills, .others {
    > :not(:first-child) {
      margin-left: 30px;
    }
  }

  .work-experience {
    .project {
      background-color: #f2f8ee;
      padding: 10px;

      h4 {
        margin: 0;
      }

      .tags {
        text-align: right;

        .tag {
          display: inline-block;
          font-weight: bold;
          background-color: #69a344;
          padding: 1px 8px;
          color: #fff;
        }
      }
    }
  }
}
