---
layout: nil
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Language" content="ja-JP">
        <link rel="alternate" type="application/atom+xml" title="draftcode.github.com - Atom" href="/atom.xml">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>{{ page.title }} -- draftcode.github.com</title>
        <script type="text/javascript">
            <!-- var disqus_shortname = 'draftcode-github-com';
            (function () {
             var s = document.createElement('script'); s.async = true;
             s.src = 'http://disqus.com/forums/draftcode-github-com/count.js';
             (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
             }());-->
         </script>
    </head>
    <body>
        <p id="toplink"><a href="/">Back to top of draftcode.github.com</a></p>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div id="content">
            {{ content }}
        </div>
        <div id="comment">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                <!--
                /**
                 * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
                 */
                (function() {
                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                 dsq.src = 'http://draftcode-github-com.disqus.com/embed.js';
                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                 })();-->
             </script>
             <noscript><p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=draftcode-github-com">comments powered by Disqus.</a></p></noscript>
             <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
         </div>
    </body>
</html>

