---
layout: nil
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Language" content="ja-JP">
        <link rel="alternate" type="application/atom+xml" title="draftcode.github.com - Atom" href="/atom.xml">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>{{ page.title }} -- draftcode.github.com</title>
    </head>
    <body>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
